.App {
  max-width: 800px;
  margin: auto;
  height: 100%;
}


.details {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: green;
  border: 10px solid black;
}

.detail-box {
  height: 100%;
  width: 100%;
  border: 10px solid black;
}

.Route {
  background-color: blue;
}

.Direction {
  background-color: yellow;
}

.Stop {
  background-color: red;
}

.list {
  border: 20px solid black;
}

.list ul {
  width: 100%;
  height: 500px;
  background-color: green;
  overflow: scroll;
}

.list input {
  width: 100%;
}

.list button {
  width: 100%;
}


.items {
  height: 50px;
  width: 100%;
  margin: 2px;
  background-color: orange;
}

.noItems {
  text-align: center;
  height: 100%;
  width: 100%;
}

.loading-image {
  text-align: center;
}

.loading-image img {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  width: 50%
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}